#ignore old saved files
*~
texts/finalreport.out
texts/Woodnegstats.out
astochastic

mods/mcvars.mod
mods/genrealz.mod
mods/klresearch.mod
mods/klreconstruct.mod
mods/radtransmc.mod
mods/utilities.mod
mods/genrealzvars.mod
mods/klvars.mod
mods/timevars.mod
mods/timeman.mod

texts/geominput.out
texts/MCleakage.out

plots/fluxplots/GaussKL_fluxall.out
plots/fluxplots/GaussKL_fluxmat.out
plots/fluxplots/KLWood_fluxall.out
plots/fluxplots/KLWood_fluxmat.out
plots/fluxplots/fluxall.gnu
plots/fluxplots/fluxall.pdf
plots/fluxplots/fluxall.ps
plots/fluxplots/fluxmat1.gnu
plots/fluxplots/fluxmat1.pdf
plots/fluxplots/fluxmat1.ps
plots/fluxplots/fluxmat2.gnu
plots/fluxplots/fluxmat2.pdf
plots/fluxplots/fluxmat2.ps
plots/fluxplots/gnubuilding/GaussKLall.txt
plots/fluxplots/gnubuilding/GaussKLallerr.txt
plots/fluxplots/gnubuilding/GaussKLmat1.txt
plots/fluxplots/gnubuilding/GaussKLmat1err.txt
plots/fluxplots/gnubuilding/GaussKLmat2.txt
plots/fluxplots/gnubuilding/GaussKLmat2err.txt
plots/tranreflprofile/GaussKLtranreflprofile.txt

plots/tranreflprofile/KLWoodtranreflprofile.txt
plots/tranreflprofile/reflprofile.pdf
plots/tranreflprofile/reflprofile.ps
plots/tranreflprofile/tranprofile.pdf
plots/tranreflprofile/tranprofile.ps
plots/xiBinsplot/xiBinsAll.txt
plots/xiBinsplot/xiBinsper.txt
texts/CoEffAct.txt
texts/CoEffExp.txt
texts/absdiffGam.txt
plots/KLsigvals/KLrxisig.txt
plots/fluxplots/radWood_fluxall.out
plots/fluxplots/radWood_fluxmat.out
plots/tranreflprofile/radWoodtranreflprofile.txt

plots/Eigfplot/Eigfplot.pdf
plots/Eigfplot/Eigfplot.ps
plots/Eigfplot/Eigfplot.txt
plots/whererealz.txt
plots/xiBinsplot/xiBinsplot.pdf
plots/xiBinsplot/xiBinsplot.ps
plots/xiBinsplot/xiBinsplot.txt
plots/tranreflprofile/radMCtranreflprofile.txt
plots/fluxplots/LPMC_fluxall.out
plots/fluxplots/atmixMC_fluxall.out
plots/fluxplots/radMC_fluxall.out
plots/xiBinsplot/customxiBinsplot.ps
plots/xiBinsplot/generic.4.hist.gnu

TRISOxiBinsplot.pdf
TRISOxiBinsplotpt1.pdf
TRISOxiBinsplotpt2.pdf
plots/genRealz/genRealzplot.pdf
plots/genRealz/genRealzplot.ps
plots/genRealz/genRealzplot1.txt
plots/genRealz/genRealzplot2.txt
plots/genRealz/genRealzplot3.txt

plots/KLrealzplot/KLrealzplot.pdf
plots/KLrealzplot/KLrealzplot.ps
plots/KLrealzplot/KLrealzplot.txt
plots/genRealz/genRealz.gnu
plots/genRealz/genRealzgnuprefix.txt

auxiliary/profiletools/gmon.out
auxiliary/profiletools/gmon.txt
auxiliary/expfit/lamcw.txt
auxiliary/expfit/s.a.lamcsig.txt
auxiliary/cubature/Gen_Ord_Cubature.inp.txt
auxiliary/cubature/Gen_Ord_Cubature.w.x.txt
genericplot.pdf
genericplot.ps
genericplot.txt

plots/LNxsstats/aveandvar.pdf
plots/LNxsstats/aveandvar.ps
plots/LNxsstats/aveandvar.txt
plots/LNxsstats/pdfLNxs.pdf
plots/LNxsstats/pdfLNxs.ps
plots/LNxsstats/pdfLNxs.txt

plots/Correlation/Correlation.pdf
plots/Correlation/Correlation.ps
plots/Correlation/Correlation.txt
plots/Correlation/Correlation.gnu

plots/CoEffplot/CoEffplot.pdf
plots/CoEffplot/CoEffplot.ps
plots/CoEffplot/CoEffplot.txt

texts/inputlog/dummy.txt

auxiliary/leakagepdfs/refltran_leakagevals.txt
mods/uqvars.mod
mods/klvonstruct.mod

texts/ANS2016
texts/Adamscases
