#### current and mod folder binaries ####
astochastic
mods/*.mod
*.sh
!modifyfile.sh  #do track this .sh file

#### backup files ####
**/*~
texts/inputlog/*

#### output/temporary files ####
**/*.out
**/*.ps
plots/**/*.pdf
plots/**/*.txt
  #output file for plotting KL transcendental 
texts/absdiffGam.txt
texts/CoEffExp.txt
auxiliary/**/*.txt
plots/fluxplots/*.gnu
plots/genRealz/genRealz.gnu
plots/Correlation/Correlation.gnu

#### data generation directories ####
texts/ANS2016
texts/Adamscases
texts/Fichtlcases

